* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
a {
    background: linear-gradient(to right, rgb(107, 122, 252) 0%, rgb(0, 255, 242) 100%);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;
    transition: 0.3s;
}
a:hover {
    opacity: 0.7;
}
.titulo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}
nav {
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Roboto Condensed;
    background: #0d001a18;
    height: 8vh;
    width: 100%;
}
.opcao {
    list-style: none;
    display: flex;
}
.opcao li {
    letter-spacing: 3px;
    margin-left: 32px;
    list-style-type: none;
}
.relatorio {
    background: #0d001a18;
    align-items: center;
    position: absolute;
    top: 3.3rem;
    right: 20%;
    padding-right: 12px;
    line-height: 3rem;
    display: none;
    
}
.relatorio li:hover a{
    color: rgb(169, 105, 241);
    opacity: 0.3;
}
.menu {
    display: none;
    cursor: pointer;
}
.menu div {
    width: 32px;
    height: 2px;
    background: linear-gradient(to right, rgb(1, 26, 255) 0%, rgb(0, 255, 242) 100%);
    margin: 8px;
    transition: 0.3s;
}
main {
    background: #000000;
    background-size: cover;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto Condensed;
    padding-right: 1rem;
    padding-left: 1rem;
}
img {
    width: 200px;
    height: auto;
}
.pdf {
    padding: 2rem;
    display: flex;
    position: relative;
    width: 47rem;
    height: 33rem;
    margin-top: 3rem;
}
embed {
    width: 100%;
    height: 100%;
}
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }
    .opcao {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #0d001a18;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 1;
    }
    .opcao li {
        margin-left: 0;
        opacity: 0;
    }
    .menu {
        display: block;
    }
}
.opcao.active {
    transform: translateX(0);
}

@keyframes opcaolinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
}

.menu.active .linha1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.menu.active .linha2 {
    opacity: 0;
}

.menu.active .linha3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

h2 {
    font-size: 2rem;
    color: white;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.2;
    position: relative;
    margin-top: 7rem;
}

.form {
    width: 100%;
    max-width: 28rem;
    font-size: 1.125rem;
    position: relative;
}

.form label, .form input, .form textarea, .form button {
    display: block;
    width: 100%;
}

.form label {
    color: white;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input:invalid {
    border-color: red;
}

.form input:valid {
    border-color: green;
}

.form input, textarea {
    font: inherit;
    padding: 0.01rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s;
}

.form textarea {
    min-height: 7rem;
    resize: vertical;
}

.form input:hover, .form input:focus, .form textarea:hover, .form textarea:focus {
    outline: none;
    border-color: rgb(48, 27, 53);
    box-shadow: 0 0 0 3px rgb(48, 27, 53);
}

.form button {
    display: block;
    padding: 1rem;
    background: linear-gradient(to right, rgb(97, 0, 207) 0%, rgb(0, 255, 242) 100%);
    color: white;
    font: inherit;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover, .form button:focus {
    outline: none;
    opacity: 0.7;
    background: linear-gradient(to right, rgb(97, 0, 207) 0%, rgb(0, 255, 242) 100%);
}

.obg {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Roboto Condensed;
    color: white;
}
.apresentaçao {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    z-index: 0;
    align-items: center;
    justify-content: center;
}

video {
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    min-width: 100%;
    filter: opacity(10rem);
    filter: hue-rotate(230deg);
  }
  .meio {
    background: rgb(16, 15, 24);
    background-size: cover;
    position: absolute;
    top: 100%;
    display: flex;
    bottom: 100%;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-family: Roboto Condensed;
  }

  .fim {
    background: rgb(0, 0, 0);
    background-size: cover;
    position: absolute;
    top: 200%;
    display: flex;
    bottom: 100%;
    width: 100%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto Condensed;
  }

  ::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track-piece {
    background-color: rgb(0, 0, 0);
    border-left: none;
}

::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-thumb:horizontal {
    background-color: #fdfdfd
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #fdfdfdc0
}


